<html>

<head>
<title>Title</title>
</head>
<body>

<h3>About this application</h3>
<p>This application is developed by Roman I Ozerov as a part of Coursera Capstone Data Science project
<p>Capstone Project is last and final project of Coursera Data Science specialicaton program. 
<p>This specialization covers the concepts and tools you'll need throughout the entire data science pipeline, from asking the right kinds of questions to making inferences and publishing results. In the final Capstone Project, students applies the skills learned by building a data product using real-world data. At completion, students will have a portfolio demonstrating their mastery of the material.
</body>
</html>
