<html>

<head>
<title>About Coursera</title>
</head>
<body>
<h3>Coursera</h3>

<p>Coursera provides universal access to the world's best education, partnering with top universities and organizations to offer courses online.

<p>Every course on Coursera is taught by top instructors from the world's best universities and educational institutions. Courses include recorded video lectures, auto-graded and peer-reviewed assignments, and community discussion forums. When you complete a course, you'll receive a sharable electronic Course Certificate.

<p>If you want to master a specific career skill, consider joining a Specialization. You'll complete a series of rigorous courses, tackle hands-on projects based on real business challenges, and earn a Specialization Certificate to share with your professional network and potential employers.

<p>See more details at <a href="https://www.coursera.org/">Coursera.org</a>  

</body>
</html>
